<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CommentMapper">

    <select id="getCommentByPage" resultType="com.bean.Comment">
        select * from comment  where  id in
        <if test="commetType==0 || commetType=='0'">
        (select nc.cid  from news_comment nc where nc.nid=#{nid})  and commetType=#{commetType}
       </if>

        <if test="commetType==1 || commetType=='1'">
            (select nc.cid  from share_comment nc where nc.sid=#{nid})  and commetType=#{commetType}
        </if>
        ORDER BY commentDate  desc  limit #{page},#{size}
    </select>


    <select id="getCommentCountByIdAndType" resultType="Integer">
        select count(*) from comment  where  id in
        <if test="commetType==0 || commetType=='0'">
            (select nc.cid  from news_comment nc where nc.nid=#{nid})  and commetType=#{commetType}
        </if>

        <if test="commetType==1 || commetType=='1'">
            (select nc.cid  from share_comment nc where nc.sid=#{nid})  and commetType=#{commetType}
        </if>
    </select>



    <insert id="addComment" parameterType="com.bean.Comment" keyProperty="id"
            useGeneratedKeys="true">
        insert into comment(username,commentContent,commetType) values (#{username},#{commentContent},#{commetType})
    </insert>


    <insert id="addNewsComment">
        insert into

          <if test="type=='0' || type==0">
              news_comment(nid,cid)  values (#{nid},#{cid});
          </if>

          <if test="type=='1' || type==1 ">
              share_comment(sid,cid)
              values (#{nid},#{cid});
          </if>
    </insert>


</mapper>
    
    
    
    