<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CommentMapper">

    <select id="getCommentByPage" resultType="com.bean.Comment">

        select * from comment  where  id in(select nc.cid  from news_comment nc where nc.nid=#{nid})
        ORDER BY commentDate  desc  limit #{page},#{size}
    </select>


    <insert id="addComment" parameterType="com.bean.Comment" keyProperty="id"
            useGeneratedKeys="true">
        insert into comment(username,commentContent) values (#{username},#{commentContent})
    </insert>


    <insert id="addNewsComment">
        insert into news_comment(nid,cid) values (#{nid},#{cid});
    </insert>

</mapper>
    
    
    
    