<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.bean.Menu">

        <id column="id" property="id"></id>
        <result property="name" column="name"></result>
        <result property="url" column="url"></result>
        <result property="path" column="path"></result>
        <result property="component" column="component"></result>
        <result property="iconCls" column="iconCls"></result>
        <result property="parentId" column="parentId"></result>

        <!--配置一对一-->
        <association property="meta" javaType="com.bean.MenuMeta">
            <result column="requireAuth" property="requireAuth"></result>
            <result column="keepAlive" property="keepAlive"></result>
        </association>

        <!--配置一对多-->
        <collection property="roles" ofType="com.bean.Role">
            <id column="rid" property="id"></id>
            <result column="rname" property="name"></result>
            <result column="nameZh" property="nameZh"></result>
        </collection>


        <collection property="children" ofType="com.bean.Menu">
            <id column="id2" property="id"></id>
            <result column="name2" property="name"></result>
            <result column="ur2" property="url"></result>
            <result column="path2" property="path"></result>

            <!--配置一对一-->
            <association property="meta" javaType="com.bean.MenuMeta">
                <result column="requireAuth2" property="requireAuth"></result>
            </association>

            <collection property="children" ofType="com.bean.Menu">
                <id column="id3" property="id"/>
                <result column="name3" property="name" jdbcType="VARCHAR"/>
            </collection>

        </collection>

    </resultMap>

    <select id="getAllMenus" resultMap="BaseResultMap">
        select m.id,m.url,m.path,m.parentId,r.id as rid,r.name as rname,r.nameZh from menu m
                                                                                          LEFT JOIN  menu_role mr  on mr.mid=m.id
                                                                                          LEFT JOIN role r on mr.rid=r.id
        where m.parentId!=1 ORDER BY m.id DESC
    </select>




    <select id="getMenusById" resultMap="BaseResultMap">
        select m1.*,m2.name as name2,m2.url as url2,m2.path as path2,m2.requireAuth as requireAuth2
        from menu m1,menu m2
        where m1.id=m2.parentId and m2.id in(
            select mr.mid from menu_role mr where mr.rid in(select ur.rid from user_role ur where ur.uid=#{id})
        )
    </select>



    <select id="getMenuTree" resultMap="BaseResultMap">
        select m1.id,m1.url,m1.name,m2.id as id2,m2.url as url2,m2.name as name2
                ,m3.id as id3,m3.url as url3,m3.name as name3
        from menu m1,menu m2,menu m3
        where m1.id=m2.parentId
          and m2.id=m3.parentId
    </select>


    <select id="getMenuByRid" resultType="Integer">
        select mr.mid from menu_role mr where mr.rid=#{rid}
    </select>

</mapper>
    
    
    
    