<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.NewsMapper">



    <!--前端查询接口-->
    <select id="getNewsListById" resultType="com.bean.News">
        select  n.id,n.title,n.createDate,n.count,n.newsIcon,n.summary
               <if test="id!=null and id!='' ">
                   ,n.content
               </if>
               from news n
                <if test="id!=null and id!='' ">
                   where id=#{id} and enabled=true
                </if>
    </select>
    <update id="addCount">
        update news set count =count+1 where id=#{id}
    </update>


    <!--后台查询接口-->
    <select id="getNewsListByPage" resultType="com.bean.News">
        select * from news
                <if test="keywords!='' and keywords!=null">
                    where title  like concat("%",#{keywords},"%")
                </if>
               limit #{start},#{size}
    </select>

    <select id="getTotal" resultType="Integer">
        select count(*) from news
        <if test="keywords!='' and keywords!=null ">
            where title  like concat("%",#{keywords},"%")
        </if>
    </select>


    <!--更新news-->
    <update id="updateNews" parameterType="com.bean.News">
        update  news
        <set>
            <if test="title!=null and title!= ''">
                title=#{title},
            </if>

            <if test="createDate!=null and createDate!= ''">
                createDate=#{createDate},
            </if>

            <if test="count!=null and count!= ''">
                count=#{count},
            </if>

            <if test="newsIcon!=null and newsIcon!= ''">
                newsIcon=#{newsIcon},
            </if>

              <if test="summary!=null and summary!= ''">
                  summary=#{summary},
            </if>

              <if test="content!=null and content!= ''">
                  content=#{content},
            </if>

        </set>
        where id=#{id}
    </update>

</mapper>
    
    
    
    