<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.NewsMapper">

    <resultMap id="BaseResultMap" type="com.bean.News">
        <id column="id" property="id"></id>
        <association property="commentCount" javaType="java.lang.Integer" select="com.mapper.NewsMapper.getCommentCount" column="id" ></association>
    </resultMap>


    <!--前端查询接口-->
    <select id="getNewsListById" resultType="com.bean.News">
        select  n.id,n.title,n.createDate,n.count,n.newsIcon,n.summary
               <if test="id!=null and id!='' ">
                   ,n.content,n.contentHtml
               </if>
               from news n
                <if test="id!=null and id!='' ">
                   where id=#{id} and enabled=true
                </if>
    </select>
    <update id="addCount">
        update news set count =count+1 where id=#{id}
    </update>



    <!--后台查询接口-->
    <select id="getNewsListByPage" resultMap="BaseResultMap">
        select * from news
                <if test="keywords!='' and keywords!=null">
                    where title  like concat("%",#{keywords},"%")
                </if>
               limit #{start},#{size}
    </select>

    <!--跨表统计次数-->
    <select id="getCommentCount" parameterType="Integer" resultType="Integer">
        select count(*) from  comment where id in(select nc.cid from news_comment nc where nc.nid=#{id})
    </select>


    <select id="getTotal" resultType="Integer">
        select count(*) from news
        <if test="keywords!='' and keywords!=null ">
            where title  like concat("%",#{keywords},"%")
        </if>
    </select>


    <!--更新news-->
    <update id="updateNews" parameterType="com.bean.News">
        update  news
        <set>
            <if test="title!=null and title!= ''">
                title=#{title},
            </if>

            <if test="createDate!=null and createDate!= ''">
                createDate=#{createDate},
            </if>

            <if test="count!=null and count!= ''">
                count=#{count},
            </if>

            <if test="newsIcon!=null and newsIcon!= ''">
                newsIcon=#{newsIcon},
            </if>

              <if test="summary!=null and summary!= ''">
                  summary=#{summary},
            </if>

              <if test="content!=null and content!= ''">
                  content=#{content},
            </if>

              <if test="contentHtml!=null and contentHtml!= ''">
                  contentHtml=#{contentHtml},
             </if>

        </set>
        where id=#{id}
    </update>

    <!--添加news-->
    <insert id="insertNewsList">
        insert into news(title,createDate,content,count,enabled,newsIcon,summary,contentHtml)
        values(#{news.title},#{news.createDate},#{news.content},#{news.count},#{news.enabled},#{news.newsIcon},#{news.summary},#{news.contentHtml})
    </insert>


    <!--删除新闻资讯表-->
    <delete id="deleteNewsByIds">
        delete from news where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--删除新闻资讯评论公共表-->
    <delete id="deleteNewsCommentCommonTableByIds">
        delete  from news_comment where nid in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>



</mapper>
    
    
    
    